

*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}
.container{
    width: 100%;
   height: 100vh;
    /* background: #e3f9ff; */
    background: #e0ebeb;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #3a4452;
    padding: 20px;
   border-radius: 10px;
  
}



.calculator form input{
    border: 0;
    outline: 0;
   
    width:45px;
    height: 33px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
background: transparent;
font-size: 14px;
color: #fff;
cursor: pointer;
margin: 5px;

}


form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 32px;
    box-shadow: none;
}

form input.operator{
    /* color: #33ffd8; */
    color: #5dacbd;
}
form input.equal{
    width: 105px;
}
